$red: rgb(221, 30, 30) !important;
$green: rgb(16, 207, 16) !important;
$blue: rgb(111, 111, 197) !important;

h1,
h2,
h3,
h4,
h5,
h6 {
	text-transform: none !important;
}

img {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	&.learn {
		width: 70%;
	}
}

.color-blue {
	color: $blue;
}

.color-red {
	color: $red;
}
.color-green {
	color: $green;
}

.label {
	color: $red;
	text-align: right;
	display: inline-block;
	margin-right: 2rem;
}
.label-response {
	color: $green;
}
.mini-image {
	width: 12rem;
	height: 6rem;
	margin-right: 2rem !important;
	&.large-width {
		width: 15rem;
	}
}
